%li
  -#=image_tag advertisement.img
  =image_tag advertisement.img_url.to_s
  %span.content #{advertisement.content}
  %span.timestamp Posted by #{advertisement.user.username} #{time_ago_in_words(advertisement.created_at)} ago.

