%footer.footer
  %small
    %a{ :href => root_path}Bulletin app
    by Anatolii Ruchka
  %nav
    %ul
      %li= link_to "Ad", advertisements_path
      %li= link_to "Users", users_path
  = yield :scripts
  =debug(params) if Rails.env.development?


